#del-modal-button, #goback-modal {
    background-color: #D01A1A;
    border: none;
    padding: 1.2rem 1.4rem;
    border-radius: 8px;
    color: white;
    min-width: 40%;
}

#goback-modal {
    background-color: #04385C;
}