.container {
    display: flex;
}

#visualize-container {
    width: 87.25%;
    padding: 5.2rem 25rem 0rem 15rem;
}

#visualize-title {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #022035;
    padding-bottom: 1.9rem;
}

#name-area {
    width: 70%;
}

.icons-area {
    text-align: center;
    cursor: pointer;
}

.icon-file-text {
    stroke-width: 2;
}

.input-div #name, .input-div #email, .input-div #cpf, .input-div #telephone {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    width: 23vw;
    height: 2.5rem;
    padding: 1rem;
}