#del-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#del-modal-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 6rem 6rem;
    gap: 3rem;
}

#func-modal, #adm {
    background-color: #04385C;
    border: none;
    padding: 1.2rem 1.4rem;
    border-radius: 8px;
    color: white;
    min-width: 50%;
}

#func-modal {
    background-color: #44A754;
}

@media (max-width: 600px) {
    #del-modal-content  {
        width: 100%;
        padding: 2rem;
        gap: 2rem;
    }

    #func-modal, #adm {
        padding: 1.2rem 0.5rem;
        min-width: 40%;
    }
}