#del-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#del-modal-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255);
    width: 25.5%;
    height: 40.5%;
    margin-top: 1.2rem;
    margin-left: 2.7rem;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

#buttons-expanded-modal {
    display: flex;
    width: 70%;
    margin-top: 2.2%;
    display: flex;
    justify-content: space-around;
}

#adm, #func-modal {
    background-color: #D01A1A;
    border: none;
    padding: 1.2rem 1.4rem;
    border-radius: 8px;
    color: white;
    min-width: 40%;
}

#func-modal {
    background-color: #04385C;
}