.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.9rem;
}

.dashboard-left{
    background-color: white;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.dashboard-right{
    background-color: white;
    width: 25%;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#card-title, #card-number, #card-day {
    color: #022035;
    text-align: center;
    margin: 0;
}

#card-title {
    font-weight: 400;
    font-size: 1.6rem;
}

#card-number {
    font-weight: 900;
    font-size: 5rem;
}

#card-day {
    font-size: 1.2rem;
}

.filter-dash-container  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-dash-container #filter { width: 9vw; }

.filter-form {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.filter-form label { margin-right: 12px; }

@media screen and (max-width: 1800px) {
    .filter-dash-container #filter { width: 11vw; }
}

@media screen and (max-width: 1440px) {
    .filter-dash-container #filter { width: 14vw; }
}

@media screen and (max-width: 1180px) {
    .filter-dash-container #filter { width: 18vw; }
}

@media screen and (max-width: 900px) {
    .title-filter.dash { 
        flex-direction: column; 
        align-items: normal;
    }

    .filter-dash-container #filter { width: 21vw; }
}

@media screen and (max-width: 768px) {
    .filter-dash-container #filter { width: 100%; }
    .filter-form label { margin-right: 0; }
}

@media screen and (max-width: 465px) {
    .filter-form { 
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-content { width: 100%; }
}
