.container {
    display: flex;
}

#visualize-areas-container {
    width: 87.25%;
    padding: 5.2rem 25rem 0rem 15rem;
}

#visualize-areas-title {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #022035;
    padding-bottom: 1.9rem;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr{
    border-bottom: 1px solid #dedede;
} 

table th, table td{
    padding: 1.4rem;
    text-align: start;
}

#name-area {
    width: 70%;
}

table th{
    font-size: 1rem;
    letter-spacing: .1rem;
}

.icons-area {
    text-align: center;
}

.icon-file-text {
    stroke-width: 2;
}

