.login-container, .signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.login-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 1rem;
}

.login-logo img {
    background-color: #022035;
    border-radius: 20px;
    width: 5.7rem;
}

.login-box h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

.login-box p {
    font-size: 1rem;
    color: #666;
    margin: 0 0 1rem 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 1rem;
}

.input-group input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 320px;
} 

.btn-login {
    width: 100%;
    padding: 0.75rem;
    background-color: #0A8FEF; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #069bff;
}

.create-account {
    justify-content: center;
    text-align: center;
}

.create-account .create {
    color: #007bff;
    text-decoration: none;
}

.create-account .create:hover {
    text-decoration: underline;
}

.login-container footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9rem;
    color: #999;
    padding: 0 3rem 1.5rem 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
}

.signin-container footer {
    position: relative;
    height: 2rem;
    width: 100%;
    font-size: 0.9rem;
    color: #999;
    padding: 0 2rem 1rem 2rem;
}

.signin-container footer p {
    position: absolute;
}

.signin-container footer p:first-of-type {
    left: 0; /* Posiciona o primeiro texto (Ratanaba) no canto esquerdo */
    bottom: 0;
}

.signin-container footer p:last-of-type {
    right: 0; /* Posiciona o segundo texto (Altave) no canto direito */
    bottom: 0;
}

@media (max-width: 550px) {
    .login-box {
        width: 90%; 
        padding: 1.5rem; 
        box-shadow: none;
    }

    .login-logo img {
        width: 4rem; 
    }

    .input-group input {
        min-width: unset; 
        padding: 0.6rem; 
    }

    .btn-login {
        padding: 0.6rem; 
    }

    .login-container footer {
        flex-direction: column; 
        align-items: center;
        padding: 0 1rem 1rem 1rem; 
        font-size: 0.8rem; 
    }

    .login-container footer p {
        margin: 0.3rem 0; 
    }
}