#modal {
    position: fixed;
    bottom: 3%;
    right: 1%;
    padding: 0.7%; 
    background-color: #F3FAFF; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
    transition: all 0.3s ease;
    z-index: 1000;
}

#modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#expanded-modal-content-alert {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255);
    width: 60%;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 2rem;
}

#small-video {
    border-radius: 8px;
    width: 23rem;
}

#big-video {
    border-radius: 8px;
    height: 45%;
    width: 65%;
}


#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#form .input-div #name {
    margin-bottom: 2%;
}

.input-div #area {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    width: 23vw;
    height: 2.6rem;
    padding: 0 1rem;
}


#buttons-modal {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#close-modal, #vizualize-modal {
    border: none;
    padding: 1rem 1.3rem;
    border-radius: 8px;
    color: white;
    min-width: 48%;
}

#vizualize-modal {
    background-color: #022035;
}

#close-modal, #notauthorized-modal {
    background-color: #D01A1A;
}

#notauthorized-modal {
    border: none;
    padding: 1rem 3rem;
    border-radius: 8px;
    color: white;
}


@media (max-width: 768px) {
    #close-modal, #vizualize-modal {
        padding: 1rem;
        min-width: 45%;
    }

    #modal {
        right: 0;
    }
    #big-video {
        width: 60%;
    }
    
    #form, #form .input-div, #form .input-div input, #form .input-div select {
        width: 100%;
    }

    #expanded-modal-content-alert {
        width: 100%;
        padding: 2rem;
    }

    #form #buttons-expanded-modal button {
        padding: 1rem;
    }
}

@media (max-width: 450px) {
    #small-video, #big-video {
        width: 100%;
    }

    #modal {
        padding: 2%;
    }
}

@media (max-width: 360px) {
    #expanded-modal-content-alert {
        padding: 1rem;
    }

    #form .input-div input, #form .input-div select {
        min-width: 280px;
    }
}