.container {
    display: flex;
}

#access-history-container {
    width: 87.25%;
    padding: 5.2rem 14rem;
}

#access-history-title {
    font-weight: 400;
    font-size: 1.8rem;
    color: #022035;
    padding-bottom: 1.9rem;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr{
    border-bottom: 1px solid #dedede;
} 

table th, table td{
    padding: 1.4rem;
    text-align: start;
}

table th{
  font-size: 1rem;
  letter-spacing: .1rem;
}