#access-history-container {
    margin: 10vh 14vw;
}

#access-history-title {
    font-weight: 400;
    font-size: 1.8em;
    color: #022035;
    padding-bottom: 3vh;
}


table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr{
    border-bottom: 1px solid #dedede;
    padding: .35em;
} 

table th, table td{
    padding: 1.2em;
    text-align: center;
}

table th{
  font-size: 1em;
  letter-spacing: .1em;
}