#expanded-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#expanded-modal-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

#form-area-modal {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}


.input-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-div input, .input-div select, .input-div textarea {
    min-width: 320px;
}

.input-div #name, .input-div #code, .input-div #location, .input-div #description {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    width: 23vw;
    height: 2.5rem;
    padding: 1rem;
}

.input-div #security {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    width: 23vw;
    height: 2.6rem;
    padding: 0 1rem;
}

.input-div #description {
    height: 7.4rem;
    resize: none;
}


#buttons-expanded-modal {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4rem;
}

#buttons-expanded-modal button {
    cursor: pointer;
}

#submit-modal, #refuse-modal {
    border: none;
    padding: 1rem 3rem;
    border-radius: 8px;
    color: white;
}

#submit-modal {
    background-color: #44A754;
}

#refuse-modal {
    background-color: #04385C;
}